/* Global Styles */
html, body { margin: 0; padding: 0; height: 100%;font-size: 62.5%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Dialog Overrides */
.mat-dialog-container {
    padding: 16px !important;
}

/* Typography */
.simpleheadline{
font-size: 3.5rem;
margin: 1.435rem 0;
font-weight: bold;
}

p.simpletext, span.simpletext, .simpletext>p, .simpletext>span, li.simpletext, .simpletext>li{
font-size: 1.6rem;
margin: 0.657rem 0;
}

p.smalltext, span.smalltext, .smalltext>p, .smalltext>span, li.smalltext, .smalltext>li{
font-size: 1.35rem;
margin: 0.554rem 0;
}
/* End of typography */

/* Structure */
.central{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
/* End of structure */
/* Media queries */
@media only screen and (max-device-width : 315px) {
.simpleheadline{
    font-size: 2.38rem;
}

p.simpletext, span.simpletext, .simpletext>p, .simpletext>span, li.simpletext, .simpletext>li{
    font-size: 1.224rem;
}

p.smalltext, span.smalltext, .smalltext>p, .smalltext>span, li.smalltext, .smalltext>li{
    font-size: 1.088rem;
}
}

@media only screen and (min-device-width : 316px) and (max-device-width : 480px) {
.simpleheadline{
    font-size: 2.625rem;
}
p.simpletext, span.simpletext, .simpletext>p, .simpletext>span, li.simpletext, .simpletext>li{
    font-size: 1.35rem;
}
p.smalltext, span.smalltext, .smalltext>p, .smalltext>span, li.smalltext, .smalltext>li{
    font-size: 1.20rem;
}
};

@media only screen and (max-device-width : 480px) {
.central, header, footer {
    width: calc(100% - 2rem);
    padding: 0 1rem 0 1rem;
}
};

@media only screen and (min-device-width : 481px) and (max-device-width : 600px) {
.simpleheadline{
font-size: 3.0625rem;
}
p.simpletext, span.simpletext, .simpletext>p, .simpletext>span, li.simpletext, .simpletext>li{
font-size: 1.575rem;
}

p.smalltext, span.smalltext, .smalltext>p, .smalltext>span, li.smalltext, .smalltext>li{
font-size: 1.20rem;
}
}

@media only screen and (min-device-width : 481px) and (max-device-width : 1200px) {
.central, header, footer {
    width: calc(100% - 4rem);
    padding: 0 2rem 0 2rem;
}
}

@media only screen and (min-device-width : 911px) and (max-device-width : 1139px) {
.central, header, footer {
    width: calc(100% - 4rem);
    padding: 0 2rem 0 2rem;
}
}

@media only screen and  (min-device-width : 1240px) {
.central, header, footer {
    padding: 0;
}
}